body {
}

div {
    display: block;
}

.container {
    width: 500px;
    font-family: "Clear Sans", "Helvetica Neue", Arial, sans-serif;
    font-weight: bold;
}

.game-container {
    background-color: #BBADA0;
    border-radius: 4px;
    position: absolute;
    box-sizing: border-box;
    padding: 15px;
    margin-top: 110px;
    margin-left: 421px;
    height: 470px;
    width: 470px;
}

.score-container {
    height: 50px;
    width: 80px;
    background-color: #BBADA0;
    border-radius: 4px;
    margin-left: 791px;
    margin-top: 50px;
    margin-bottom: -85px;
    text-align: center;
    padding: 10px;
}

.new-game-button {
    background-color: #8F7A66;
    border-radius: 4px;
    cursor: pointer;
    height: 40px;
    width: 120px;
    margin-bottom: -85px;
    margin-left: 771px;
    margin-top: 100px;
    color: #FFF;
    text-align: center;
    line-height: 36px;
}

.score-container:before {
    content: "SCORE";
    color: #EEE4DA;
}

.score {
    color: #fff;
    font-size: 1.5em;
    text-align: center;
    line-height: 32px;
}

.grid-container {
    height: 470px;
    width: 470px;
}

.row-container {
    margin-bottom: -3px;
    margin-left: -3px;
}

.cell-container {
    line-height: 95px;
    background-color: #CDC1B4;
    border-radius: 4px;
    float: left;
    height: 100px;
    width: 100px;
    margin-right: 15px;
    margin-bottom: 15px;
}

.tile-2 {
    text-align: center;
    background-color: #EEE4DA;
    color: #776E65;
    font-size: 55px;
}

.tile-4 {
    text-align: center;
    background-color: #EDE0C8;
    color: #776E65;
    font-size: 55px;
}

.tile-8 {
    text-align: center;
    background-color: #F2B179;
    color: #F9F6F2;
    font-size: 55px;
}

.tile-16 {
    text-align: center;
    background-color: #F59563;
    color: #F9F6F2;
    font-size: 55px;
}

.tile-32 {
    text-align: center;
    background-color: #F67C5F;
    color: #F9F6F2;
    font-size: 55px;
}

.tile-64 {
    text-align: center;
    background-color: #F65E3B;
    color: #F9F6F2;
    font-size: 55px;
}

.tile-128 {
    text-align: center;
    background-color: #EDCF72;
    color: #F9F6F2;
    font-size: 45px;
}

.tile-256 {
    text-align: center;
    background-color: #EDCC61;
    color: #F9F6F2;
    font-size: 45px;
}

.tile-512 {
    text-align: center;
    background-color: #EDC850;
    color: #F9F6F2;
    font-size: 45px;
}

.tile-1024 {
    text-align: center;
    background-color: #EDC53F;
    color: #F9F6F2;
    font-size: 45px;
}
